@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Handjet:wght@400;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  background: radial-gradient(#186a5e, #053339);
  color: #e1eeeb;
  min-height: 100vh;
}

h1{
  font-family: 'Handjet', monospace;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3.5rem;
}

h2{
  font-size: 1.5rem;
}